<!--<ng-container *ngIf="showSeries.length && showGuide.length">-->
<ng-container>

  <apx-chart #chart
    [series]="series"
    [noData]="options.noData"
    [chart]="options.chart"
    [yaxis]="options.yaxis"
    [xaxis]="options.xaxis"
    [title]="options.title"
    [legend]="{show:true}"
    [stroke]="options.stroke"
  ></apx-chart>

  <apx-chart
    #chartGuide
    [series]="showGuide"
    [chart]="optionsGuide.chart"
    [xaxis]="optionsGuide.xaxis"
    [yaxis]="optionsGuide.yaxis"
    [dataLabels]="optionsGuide.dataLabels"
    [stroke]="optionsGuide.stroke"
    [plotOptions]="optionsGuide.plotOptions"
  ></apx-chart>

</ng-container>
