
<form [formGroup]="form">
  <div class="mb-2">
    <mat-button-toggle-group formControlName="type">
      <mat-button-toggle value="swap" class="w-full">Swap</mat-button-toggle>
      <mat-button-toggle value="sell" class="w-full">Sell</mat-button-toggle>
      <mat-button-toggle value="buy" class="w-full">Buy</mat-button-toggle>
    </mat-button-toggle-group>

<!--    <mat-radio-group formControlName="type" class="flex flex-row gap-4">
      <mat-radio-button value="swap">Swap</mat-radio-button>
      <mat-radio-button value="sell">Sell</mat-radio-button>
      <mat-radio-button value="buy">Buy</mat-radio-button>
    </mat-radio-group>-->
  </div>

  <div class="flex flex-row justify-between place-items-stretch md:w-max gap-2 items-start">
    <div *ngIf="form.controls.type.value !== 'buy'" class="flex-grow">
      <label>Sell:</label>
      <select formControlName="sell" class="w-full">
        <option [ngValue]="null">...</option>
        <option *ngFor="let item of getProductsSell()" [ngValue]="item">
          {{item.id}}
        </option>
      </select>
      <p>
        <small *ngIf="form.controls.sell.value as productSell">
          <strong>{{productSell.base_currency}}</strong>
          Min: {{productSell.base_min_size}} - Increment: {{productSell.base_increment}}
        </small>
      </p>
    </div>
    <div *ngIf="form.controls.type.value !== 'sell'" class="flex-grow">
      <label>Buy:</label>
      <select formControlName="buy" class="w-full">
        <option [ngValue]="null">...</option>
        <option *ngFor="let item of getProductsBuy()" [ngValue]="item">
          {{item.id}}
        </option>
      </select>
      <p>
        <small *ngIf="form.controls.buy.value as productBuy">
          <strong>{{productBuy.base_currency}}</strong>
          Min: {{productBuy.base_min_size}} - Increment: {{productBuy.base_increment}}
        </small>
      </p>
    </div>

    <div class="flex-shrink">
      <label *ngIf="form.controls.type.value !== 'buy'">Size:</label>
      <label *ngIf="form.controls.type.value === 'buy'">Funds:</label>
      <input type="text" formControlName="size" class="w-full">
      <p>
        <ng-container *ngIf="form.controls.type.value !== 'buy'">
          <small *ngIf="form.controls.sell.value as productSell">
            <strong>{{productSell.base_currency}}</strong>
            Available: {{getAccountAvailable(productSell.base_currency)}}
          </small>
        </ng-container>

        <ng-container *ngIf="form.controls.type.value === 'buy'">
          <small *ngIf="form.controls.buy.value as productBuy">
            <strong>{{productBuy.quote_currency}}</strong>
            Available: {{getAccountAvailable(productBuy.quote_currency)}} -
            Min: {{productBuy.min_market_funds}} - Increment: {{productBuy.quote_increment}}
          </small>
        </ng-container>
      </p>
    </div>

    <div>
      <label>&nbsp;</label>
      <button mat-flat-button color="primary"
        [disabled]="form.invalid"
        (click)="confirm()">
        <span *ngIf="form.controls.type.value === 'swap'">SWAP</span>
        <span *ngIf="form.controls.type.value === 'sell'">SELL</span>
        <span *ngIf="form.controls.type.value === 'buy'">BUY</span>
      </button>
    </div>
  </div>

</form>


