<table class="border-collapse bg-transparent min-w-full divide-y divide-gray-200 text-md">
  <tbody class="divide-y divide-gray-200">
    <tr *ngFor="let item of items">
      <td class="px-0">
        <ng-container *ngIf="hasImage(item.currencyName)">
          <img
            style="width:32px; height:32px;"
            src="https://cryptologos.cc/logos/thumbs/{{item.currencyName | lowercase}}.png"
            (error)="errorImage(item.currencyName)"
            onerror="this.src='assets/crypto/white/generic.svg'">
        </ng-container>
        <!--          src="assets/crypto/color/{{item.currency | lowercase}}.svg"-->

      </td>
      <td class="px-2 truncate">
        <strong>{{item.currency}}</strong> {{item.currencyName}}<br>
        <small class="truncate">{{item.available}}</small>
        <div *ngIf="!item.trading_enabled"><small>Not enable for trading</small></div>
      </td>
      <td class="px-2 text-right">
        <span>
          {{item.fundsUSDT | currency : 'USD'}}<br>
          <small>{{item.priceUSDT}}</small>
        </span>
      </td>
      <td class="pl-2 pr-0 text-right">
        <span>
          {{item.fundsEUR | currency : 'EUR'}}<br>
          <small>{{item.priceEUR}}</small>
        </span>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td class="p-2 text-right font-bold">{{totUSDT | currency : 'USD'}}</td>
      <td class="p-2 text-right font-bold">{{totEUR | currency : 'EUR'}}</td>
    </tr>
  </tfoot>
</table>
