
<div *ngFor="let item of getAccounts()" class="grid grid-flow-col auto-cols-fr items-center gap-4 border-b p-4">
  <div>
    <img
      style="width:32px; height:32px;"
      src="assets/crypto/color/{{item.currency | lowercase}}.svg"
      onerror="this.src='assets/crypto/white/generic.svg'">
  </div>
  <div>
    <strong>{{item.currency}}</strong>
    <div>{{getCurrencyName(item.currency)}}</div>
    <div *ngIf="!item.trading_enabled"><small>Not enable for trading</small></div>
  </div>
  <div>{{item.available}}</div>
</div>
