
<div class="flex flex-row justify-between place-items-stretch my-4">
  <p>
    From {{startedAt | date : 'short'}}
  </p>
  <p>
    {{1 / USDEUR | currency : 'USD'}}/{{USDEUR | currency : 'EUR'}}
  </p>
</div>

<div class="flex flex-col md:flex-row gap-2">
  <app-swap
    class="block p-2 mb-4 bg-indigo-50 shadow overflow-hidden rounded-lg"
    [USDEUR]="USDEUR"
    [products]="products$ | async"
    [accounts]="accounts$ | async"
    [loading]="swapLoading"
    (swap)="swap($event)"
    (sell)="sell($event)"
    (buy)="buy($event)"
  ></app-swap>

  <app-trend-observer
    class="block p-2 mb-4 shadow overflow-hidden rounded-lg flex-1"
    [USDEUR]="USDEUR"
    [observer]="trendObserver"
    [ticker]="ticker$ | async"
    [products]="products$ | async"
    [accounts]="accounts$ | async"
    [currencies]="currencies$ | async"
    [orders]="orders$ | async"
    [fills]="fills$ | async"
    (addProductOnGraph)="addProductOnGraph($event)"
    (added)="addTrendObserver($event)"
    (removed)="removeTrendObserver($event)"
  ></app-trend-observer>
</div>

<mat-tab-group dynamicHeight color="primary" class="pb-10">

  <mat-tab label="Graph">
    <app-candles
      [candles]="candles$ | async"
      [selected]="productsGraph"
    ></app-candles>

    <app-graph
      [USDEUR]="USDEUR"
      [selected]="productsGraph"
      [ticker]="ticker$ | async"
      [products]="products$ | async"
      [accounts]="accounts$ | async"
      (added)="addProductOnGraph($event)"
      (removed)="removeProductOnGraph($event)"
      class="block mt-2"></app-graph>
  </mat-tab>

  <mat-tab label="Portfolio">
    <app-wallet
      [USDEUR]="USDEUR"
      [ticker]="ticker$ | async"
      [currencies]="currencies$ | async"
      [accounts]="accounts$ | async"
      class="block mt-2"></app-wallet>
  </mat-tab>

  <mat-tab label="Orders">
    <app-orders
      [USDEUR]="USDEUR"
      [orders]="orders$ | async"
      [fills]="fills$ | async"
      [products]="products$ | async"
      (productSelected)="loadFills($event)"
      (addTrendObserver)="addTrendObserver($event)"
      class="block mt-2"></app-orders>
  </mat-tab>

</mat-tab-group>



