
<div class="my-4">
  <p>
    From {{startedAt | date : 'short'}}
  </p>
</div>

<div class="my-2 border-b py-2">
  <app-swap
    [products]="products$ | async"
    [accounts]="accounts$ | async"
    (swap)="swap($event)"
  ></app-swap>
</div>


<app-graph
  [prices]="prices$ | async"
  [products]="products$ | async"
  [accounts]="accounts$ | async"
  (productAdded)="addProductsGraphSelected($event)"
  (productRemoved)="removeProductsGraphSelected($event)"></app-graph>

<app-wallet
  [currencies]="currencies$ | async"
  [accounts]="accounts$ | async"
  class="block bg-white shadow overflow-hidden rounded-lg"></app-wallet>
