/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/***********************/
/****  BASE STYLES  ****/
/***********************/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  @apply leading-normal;
}

// Headings
h1 {
  @apply my-3 text-4xl font-bold;
}

h2 {
  @apply my-4 text-3xl font-semibold;
}

h3 {
  @apply my-5 text-2xl font-semibold;
}

h4 {
  @apply my-6 text-xl font-semibold;
}

h5 {
  @apply my-8 text-lg font-medium;
}

h6 {
  @apply my-10 text-base font-medium;
}

// Paragraphs
p {
  @apply my-3 font-thin;
}

// Blockquotes
blockquote {
  @apply my-4 px-8 border-l-4 border-gray-200;
}

// Horizontal Rules
hr {
  @apply my-6 border-t;
}

// Lists
dl, ol, ul {
  @apply my-4 pl-3 list-inside;
}

// Definition Lists
dl {
  dt {
    @apply font-semibold;
  }

  dd {
    @apply ml-6;
  }
}

// Ordered Lists
ol {
  @apply list-decimal;
}

// Unordered Lists
ul {
  @apply list-disc;
}

// Anchors
a {
  @apply underline;
}

// Tables
table {
  @apply table border-separate border-gray-200 align-middle text-left bg-gray-200 rounded;

  caption {
    @apply p-3;
  }

  thead tr th {
    @apply py-2 px-4;
  }

  tbody tr td {
    @apply py-2 px-4;
  }

  tfoot tr th {
    @apply py-2 px-4;
  }
}

// Forms
input, textarea, select {
  @apply block px-3 py-2 border rounded text-sm
    shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500;
}
select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right .5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

input:focus, textarea:focus {
  @apply outline-none;
}

button {
  @apply px-3 py-2 border rounded text-sm;

  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 0.5em;

  &[disabled] {
    color: #ccc;
    background: #eee;
  }

  .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
}

label {
  @apply block mb-2 text-sm font-semibold;
}

input[type="submit"], input[type="button"], input[type="reset"] {
  @apply inline-block px-4 py-2 bg-gray-200 font-semibold;
}

// Images
figure {
  @apply inline-block;

  img {
    @apply block w-full;
  }

  figcaption {
    @apply block p-3 text-center text-sm;
  }
}
