
<form [formGroup]="uiForm" class="md:flex md:flex-row md:gap-6 items-end">
  <div class="mb-2">
<!--    <label>Select Market:</label>-->
    <mat-chip-list #symbolList>
      <input
        placeholder="Search market..."
        #symbolsInput
        type="text" formControlName="symbols"
        [matAutocomplete]="auto"
        [matChipInputFor]= "symbolList">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedManagedSymbol($event)">
      <mat-option *ngFor="let item of getFilteresManagedSymbols()" [value]="item.id">
        {{item.id}}
      </mat-option>
    </mat-autocomplete>

  </div>

</form>

<div class="my-2">
  <mat-chip
    *ngFor="let symbol of selected"
    [removable]="true"
    [selected]="productIdCandles === symbol ? true : false"
    (removed)="removeSelectedManagedSymbols(symbol)" (click)="productIdCandles = symbol">
    {{symbol}}
    <mat-icon matChipRemove>cancel</mat-icon>
  </mat-chip>
</div>

<div class="my-2">
  <!--{60, 300, 900, 3600, 21600, 86400}-->
  <!--one minute, five minutes, fifteen minutes, one hour, six hours, and one day, respectively.one minute, five minutes, fifteen minutes, one hour, six hours, and one day, respectively.-->
  <ng-container *ngFor="let item of [60, 300, 900, 3600, 21600, 86400]; let i = index">
    <button [color]="item === period ? 'primary' : null" mat-flat-button (click)="setPeriod.emit(item)">
      {{['1m', '5m', '15m', '1H', '6H', '1D'][i]}}
    </button>
  </ng-container>
</div>

<div class="flex flex-col md:flex-row gap-2">
  <ng-container *ngIf="graph">
    <app-candles
      class="block shadow rounded-lg ring-1 ring-gray-900 ring-opacity-5 md:w-2/3"
      [item]="graph"
      [selected]="selected"
      [show]="productIdCandles || selected[0]"
    ></app-candles>
  </ng-container>

  <ng-container *ngIf="percentage">
    <app-percentage
      class="shadow rounded-lg ring-1 ring-gray-900 ring-opacity-5 flex-1"
      [percentage]="percentage"
      [selected]="selected"
    ></app-percentage>
  </ng-container>

</div>






<!--
<div *ngIf="chartData.length" class="shadow rounded-lg ring-1 ring-gray-900 ring-opacity-5">
    <app-charts
    style="height:300px"
    type="line"
    legendPosition="right"
    [legend]="false"
    [scheme]="colorScheme"
    [showGridLines]="true"
    [xAxis]="false"
    [yAxis]="true"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    [timeline]="false"
    [results]="chartData"></app-charts>
  </div>

<div *ngIf="history.length" class="my-4 overflow-x-auto">

  <table class="border-collapse bg-transparent min-w-full divide-y divide-gray-200 text-md">
    <thead class="bg-gray-50">
      <tr>
        <th *ngFor="let currency of getTickersProductsId(); let i = index" class="p-2 text-center font-medium text-gray-500 uppercase tracking-wider whitespace-nowrap">
          <div [style.color]="colorScheme.domain[i]"><strong>{{currency}}</strong></div>
          <div class="text-xs">
            &lt;!&ndash;Average:&ndash;&gt;
            {{getPrice(average[currency], currency, 'USDT') | currency : 'USD'}}<br>
            {{getPrice(average[currency], currency, 'EUR') | currency : 'EUR'}}<br>
            &lt;!&ndash;Rate:&ndash;&gt;
            <span class="rounded-md ring-1 ring-gray-900 ring-opacity-5 px-1" [class.grey]="rate[currency] == 0" [class.green]="rate[currency] > 0" [class.red]="rate[currency] < 0">
              {{rate[currency]}}%
            </span>
          </div>
        </th>
      </tr>
    </thead>
&lt;!&ndash;
    <tbody class="divide-y divide-gray-200">
      <tr *ngFor="let item of history.slice(0, 10); let i = index">
        <td *ngFor="let currency of getTickersProductsId()" class="p-2 whitespace-nowrap text-right text-xs">

          <ng-container *ngIf="item[currency] && item[currency].price">
            <span class="price" [style.color]="utils.getColor(item[currency].price, history[i+1] && history[i+1][currency] ? history[i+1][currency].price : item[currency].price)">
              <ng-container [ngSwitch]="utils.getColor(item[currency].price, history[i+1] && history[i+1][currency]? history[i+1][currency].price : item[currency].price)">
                <mat-icon *ngSwitchCase="'red'">arrow_downward</mat-icon>
                <mat-icon *ngSwitchCase="'green'">arrow_upward</mat-icon>
              </ng-container>
              <span>
                {{getPrice(item[currency].price, currency, 'USDT')}}$<br>
                {{getPrice(item[currency].price, currency, 'EUR')}}€
              </span>
            </span>
          </ng-container>

        </td>
      </tr>
    </tbody>
    &ndash;&gt;
  </table>

</div>
-->

