<form [formGroup]="form" class="mb-2 pb-2 border-b">

  <div class="flex flex-row justify-between place-items-stretch gap-2 items-start">
    <div class="flex-grow">
      <label>Product:</label>
      <select formControlName="product_id" class="w-full">
        <option [ngValue]="null">...</option>
        <option *ngFor="let item of products" [ngValue]="item.id">
          {{item.id}}
        </option>
      </select>
    </div>

    <div class="flex-shrink">
      <label>Price:</label>
      <input type="text" formControlName="price" class="w-full">
    </div>
    <div class="flex-shrink">
      <label>Size:</label>
      <input type="text" formControlName="size" class="w-full">
    </div>
    <div>
      <label>&nbsp;</label>
      <button mat-icon-button color="primary"
              [disabled]="form.invalid"
              (click)="add()">
<!--        <span>OBSERVE</span>-->
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>

</form>


<table class="border-collapse bg-transparent min-w-full divide-y divide-gray-200 text-xs">
<tbody class="divide-y divide-gray-200">
  <tr *ngFor="let item of observer; let i = index">
    <td class="px-0">
      <strong class="text-primary">{{item.product_id}}</strong>
      <div *ngIf="item.size">
        <small>{{item.size}}</small>
      </div>
    </td>
    <td class="px-2 text-right">
      {{item.price}}
      <div *ngIf="item.size">
        <small>{{oldFunds(item)}}</small>
      </div>
    </td>
    <td class="px-2 text-right bg-indigo-50">
      {{prices[item.product_id]}}
      <div *ngIf="item.size">
        <small>{{newFunds(item)}}</small>
      </div>
    </td>
    <td  class="px-2 text-right" [style.color]="getPriceColor(item)">
      <strong>{{diff(item.price, prices[item.product_id])}}% ({{earn(item.price, prices[item.product_id])}})</strong><br>
      <div *ngIf="item.size">
        <small>{{earn(oldFunds(item), newFunds(item))}}</small>
      </div>
    </td>
    <td class="px-0 text-right">
      <button mat-icon-button color="accent" (click)="addProductOnGraph.emit(item.product_id)">
        <mat-icon>trending_up</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="remove(i)">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </td>
  </tr>
</tbody>
</table>
